* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #000000;
	background-size: cover;
	color: #fff;
	font-size: 1rem;
}

.stylesOrg {
    font-size: 100%;
}

.styles {
    font-size: 300%;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.widget {
	width: 30%;
	margin: 1.5em;
	/*margin:32px; */
}

.widget p {
	display: inline-block;
	line-height: 1em;
}

.espacio {
	height: 100px;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	font-size: 1em;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: rgba(0, 0, 0, .5);
	padding: 10px;
	width: 100%;
}

.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 10px;
	font-size: 3em;
	text-align: center;
	background: rgba(0, 0, 0, .5);
}

.reloj .caja-segundos {
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 1rem;
	display: block;
}
